<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Client/Boostrap4/css/bootstrap.css" rel="stylesheet" />
    <!-- DataTable Bootstrap-->
    <link href="/Assets/Admin/Boostrap3/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="/Assets/Admin/Boostrap3/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Assets/Client/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/Assets/Admin/Boostrap3/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--My CSS-->
    <link href="~/Assets/Client/css/myIndex.css" rel="stylesheet" />
    @RenderSection("cssHeader", false);
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 container">
                <div class="row no-padding">
                    @{ Html.RenderAction("TopMenu", "Home");}
                </div>
                <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 no-padding">
                            <a href="index.html"><img style="height:auto" src="/Assets/Client/images/logo.png" alt="" /></a>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8" style="height:71px;">
                                <p id="test" class="pull-right no-margin no-padding nowrap">
                                    Welcome to our Online Store!
                                    <span class="text-danger lead">Cart: </span>
                                    0 item(s) - $0.00
                                    <div class="pull-right">
                                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#idtest"><i class="fa fa-caret-down"></i></a>
                                        <ul class="pull-right collapse" id="idtest">
                                            <li>you have no items in your Shopping cart</li>
                                        </ul>
                                    </div>
                                </p>

                        </div>
                </div>
                <div class="row no-padding">
                    <div>
                        @{Html.RenderAction("MainMenu", "Home");}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    @RenderSection("slide", false)
                </div>
                    <div class="row">
                        @RenderBody();
                    </div>
            </div>
        </div>
        <div class="row">
            @{ Html.RenderAction("Footer", "Home");}
        </div>
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Assets/Admin/Boostrap3/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/Admin/Boostrap3/js/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Client/Boostrap4/js/bootstrap.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Assets/Admin/Boostrap3/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Assets/Admin/Boostrap3/dist/js/sb-admin-2.js"></script>
    @RenderSection("jsFooter", false);
</body>
</html>


