@model List<MyModel.EF.Menu>

<nav class="nav navbar-default no-padding">
    <div class="container no-padding">
        <div class="navbar-header">
            <p class="nowrap navbar-brand"><span><strong>cần trợ giúp?</strong> </span> Gọi cho chúng tôi <span> <strong class="text-danger lead">0945.66.22.80</strong></span></p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                @foreach (var item in Model)
                {
                    <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
                } 
            </ul>
        </div>
    </div>
</nav>
