.carousel {
    max-height: 500px;
    overflow: hidden;
}
    .carousel-inner .item img {
        width: auto;
        max-height: 500px;
        margin:auto;
    }
.no-padding{
    padding:0;
}
.navbar-brand{
    font-size:14px;
    padding:8px 8px;
    margin:auto;
    vertical-align:central;
}
@media (max-width: 767px){

}
#myNav .header {
    padding: 10px 4px;
    text-align: center;
    background-color: firebrick;
    color: white;
}
#myNav ul li a {
    color: firebrick;
    border-radius:0;
}

#myNav ul li a:hover {
        color: white;
        background-color: firebrick;
}
.panel{
    border-radius:0;
}
.panel-title {
        color:red;
        padding-left:0;
    }
.product-thumbnail .thumbnail{
    max-height:256px;
    width:auto;
    margin-bottom:auto;
}
.product-price div h5 a{
    text-decoration:none;
}
.price p {
    margin: 11px auto;
    font-size:1.2em;
}
.product-price{
    border-top:1px solid red;
}
.cart{
    background-color:red;
}
.cart a{
    color:white;
}
.product-name p {
    color: black;
    font-size: 1.2em;
}
.navbar-nav li:hover {
    background-color:firebrick;
}